
.ap_flow_details_tim{
    padding:6px;
    border-top:solid 1px #e6eef8;
    border-top-left-radius:4px;
    border-left:solid 1px #e6eef8;
    background-color:#e2e2e2;
    text-align:center;
}
.ap_flow_details_nam{
    border-top:solid 1px #e6eef8; 
    text-align:left;
    padding-left:6px;
}
.ap_flow_details_advice {
    border-top:solid 1px #e6eef8;
    border-top-right-radius:4px;
    border-right:solid 1px #e6eef8;
    text-align:right;
    padding-right:6px;
    background-color:#ff9250;
    color:#fff;
}
.ap_flow_details_desc{
    border-top:solid 1px #e6eef8; 
    text-align:right;
    background:#e9e9e9;
    padding-right:6px;
}

.ap_flow_details_advice_left{
    padding:6px;
    border-top:solid 1px #e6eef8; 
    border-bottom:solid 1px #e6eef8; 
    border-left:solid 1px #e6eef8; 
    border-bottom-left-radius:4px;
    text-align:center;
    vertical-align:top;
    background-color:#e2e2e2;
}

.ap_flow_details_context_right{
    border-top:solid 1px #e6eef8; 
    border-bottom:solid 1px #e6eef8; 
    border-right:solid 1px #e6eef8; 
    border-bottom-right-radius:4px; 
    padding-right:6px;
}

.cls_group_select_fee_infos{
    padding:0px;
    font-size:12px;
    font-weight:bold;
    table-layout:fixed;
    border-spacing:0px;
    border-collapse:separate;
}
.cls_group_select_fee_infos td {
    padding:0px; 
    border:solid 1px #a0a0a0; 
    text-align:center;
}


.cls_group_order_fee{ 
    table-layout:fixed; 
    width:auto;
}

.cls_group_order_fee td{
    line-height:24px;
    padding-left:4px;
    padding-right:4px;
    white-space: nowrap;
    
}
.cls_group_order_fee .cls_rec_title{
    background:#ff0000;
    color:#FFF;
}

.cls_group_order_fee .cls_pay_title{
    background:#00e10b;
    color:#FFF;
}

.cls_group_order_fee .cls_profit_title{
    background:#fd60a6;
    color:#fff;
}
.cls_group_order_fee .cls_rec_value{
    font-weight:bold;
    color:#ff0000; 
}
.cls_group_order_fee .cls_pay_value{
    font-weight:bold;
    color:#00e10b; 
}
.cls_group_order_fee .cls_profit_value{
    font-weight:bold;
    color:#fd60a6; 
}
.cls_group_order_fee .cls_total_title{
    background:#0018ff;
    color:#FFF;
}
.cls_group_order_fee .cls_total_value{
    font-weight:bold;;
    color:#0018ff;
}

.selected_group_order_fee{
    text-align:right;
}

.tab_std_short{
    width:100%;
    table-layout:fixed;
}
.tab_std_short td {
    font-size:14px;
    white-space:pre-wrap;
    word-wrap : break-word ;
    overflow: hidden ; 
    text-align:left;
    font-weight:bold;
    line-height:20px;
}
.tab_std_short td span {
    font-size:14px;
    line-height:20px;
}
.mytable{
    font-size:14px;
    font-weight:bold;
    line-height:20px;
}

.abtab_print
{
    width:100%;
    box-sizing:border-box; 
    table-layout:fixed; 
    font-size:14px;
    position:relative; 
}
 
.abtab_print td,th {
    
    padding:4px;
 
	overflow:hidden;
	 
    border:1px dotted #555; 
}
 

.abtab_print .title2{
    text-align:center;  
}
.abtab_print .value{  
    
}
.abtab_print .cvalue{ 
    
    text-align:left;
    vertical-align:top;
}