<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime/>
    <!--设置session的生命周期为1分钟-->
    <sessionState mode="InProc" timeout="1800"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL"/>
    </httpErrors>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <add value="login_page.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <!--白名单地址-->
    <add key="limit_page" value="index_page.aspx,update_pwd.aspx,myinfor.aspx"/>
    <!--wx当前公司id-->
    <add key="wx_company_id" value="1"/>
  </appSettings>
</configuration>